body {
	font-family: Roboto, sans-serif;
	background-color: #E6F4FF;
}

.main-title {
	text-align: center;
	font-weight: 50;
	border-radius: 10px;
	border: 1px solid #75B1D6;
	background: #FFFFFF;
	padding: 15px;
	width: 200px;
	height: 50px;
	margin: 25px;
	margin-left: 300px;
	margin-right: 300px;
}

.introduction {
	text-align: center;
}

h1 {
  color: #000000;
}