body {
	font-family: Roboto, sans-serif;
	background-color: #E6F4FF;
}

.main-title {
	text-align: center;
	font-weight: 350;
	border-radius: 10px;
	border: 1px solid #75B1D6;
	background: #FFFFFF;
	padding: 15px;
	margin: 80px;
}

h1 {
  color: #000000;
}